
<div id="admin-navbar">
    <div id="navbar-content">
        <h1 id="welcome-admin">Welcome Admin</h1>

        <a href="/" id="admin-logout">
            Home <i class="ri-logout-box-r-line"></i>
        </a>
    </div>
</div>