<% include ./common/header.ejs %>

<% include ./common/navbar.ejs %>

    
<div id="feedback-main">
    <div id="feedback-inner">
        <div id="left">
            <!-- <h2>Had a great time on Satvik Jeevan !</h2>
            <h2>Give your feedback here</h2> -->
        </div>

        <div id="right">
            <h1 id="fb">Feedback</h1>
            <form action="/feedback" method="post">
                <label for="feedback-name">Your Name : </label><br>
                <input type="text" name="name" class="input-fields" id="name" placeholder="Enter your name" id="feedback-name" required>
                <br
                <label for="feedback-desc">Your thoughts : </label><br>
                <textarea name="feedbackdesc" id="feedbackdesc" class="input-fields" placeholder="Enter your feedback" cols="50" rows="8" maxlength="1000" required ></textarea>
                <br>
                <input type="submit" id="submit-fb" value="submit">
            </form>
        </div>
    </div>
</div>



<% include ./common/footer.ejs %>