<% include ./common/header.ejs %>
<div class="playvideomain">

  <video id="playVideo" width="600" controls autoplay>
    <source id="videoSource" type="video/mp4" src="/videos/hinduismexplained.mp4"/>
    Your browser does not support the video tag.
  </video>
</div>



   
        
<% include ./common/footer.ejs %>
