<% include ./Admin/adminheader.ejs %> <% include ./Admin/sidebar.ejs %> <%
include ./Admin/adminnavbar.ejs %>

<div class="maincontent">
  
    <% if(allfeedbacks.length > 0) { %>
        <table class="tbl">
    <tr>
      <th>User Id</th>
      <th>Feedback Id</th>
      <th>Username</th>
      <th>Feedback</th>
      <th>Actions</th>
    </tr> 
    <% allfeedbacks.forEach(function(feedbacks) { %>
    <tr>
      <td class="userid"><%= feedbacks._id %></td>
      <td><%= feedbacks.user %></td>
      <td><%= feedbacks.username %></td>
      <td class="longfield"><%= feedbacks.feedback %></td>

      <td>
        <div class="useractions">
          <a href="" class="viewuser">View</a>
          <a href="" class="deleteuser">Delete</a>
        </div>
      </td>
    </tr>
    <% }); %>
</table>
    
    <% } else { %>
    
      <p style="color: red; margin: 20% 0 0 40%; font-size: 2vw;" >No Feedback records</p>
    
    <% }%>
</div>

<% include ./Admin/adminfooter.ejs %>
