<% include ./common/header.ejs %>


<div id="thanks-main">
    <div id="thanks-inner">
        <div id="thanks-left">
            
        </div>

        <div id="thanks-right">
            <h2>Thanks for your valuable feedback </h2>
            
            <a href="/">Return to Home</a>
        </div>
    </div>
</div>


<% include ./common/footer.ejs %>