<% include ../common/header.ejs %>

<% include ../common/navbar.ejs %>

    
<div class="sap-bg">
  <div class="back-btn">
    <a href="/">
      <i class="ri-arrow-left-line mr-3"></i>Back</a
    >
  </div>
  <h1 class="pageheading">
    Explore blogs related to Herbal Remedies
  </h1>

  <div class="cards-section">
    <% if(categoryposts.length > 0) { %> <%
    categoryposts.forEach(function(categorypost) { %>

    <div class="cards">
      <img src="/images/uploads/<%= categorypost.image %>" alt="" class="cards-img" />
      <hr />
      <div class="card-content">
        <h2 class="card-title"><%= categorypost.title %></h2>
      </div>
      <a href="/category/herbalremedies/<%= categorypost._id %>" class="explore-card">Explore</a>
    </div>
    <% }); %> <% } else { %>
    <p style="color: red;">No posts available for Herbal Remedies</p>
    <% } %>
  </div>
</div>
<% include ../common/footer.ejs %>
<% include ../common/pagefooter.ejs %>