<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Satvik Jeevan 🙏</title>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> -->
  </head>
  <link
    rel="shortcut icon"
    href="/images/Satvik Jeevan logo/favicon-32x32.png"
    type="image/x-icon"
  />
  <!-- <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
  /> -->
  <link rel="stylesheet" href="/stylesheets/home.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/footer.css" />
  <link rel="stylesheet" href="/stylesheets/feedback.css" />
  <link rel="stylesheet" href="/stylesheets/thanks.css" />
  <link rel="stylesheet" href="/stylesheets/category.css">
  <link rel="stylesheet" href="/stylesheets/applytrainer.css">
  <link rel="stylesheet" href="/stylesheets/admindashboard.css">
  <link rel="stylesheet" href="/stylesheets/showpost.css">
  <link rel="stylesheet" href="/stylesheets/playvideo.css">
  <link
  href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
  rel="stylesheet"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
 
  
  <style>
    /* Basic CSS for card layout */
    .card {
      width: 300px;
      background-color: #f9f9f9;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin: 20px;
      padding: 20px;
      display: inline-block;
    }

    /* CSS for image in the card */
    .card img {
      width: 100%;
      border-radius: 8px;
      margin-bottom: 15px;
    }

    /* CSS for title */
    .card h3 {
      margin: 0;
      font-size: 1.5rem;
      color: #333;
    }

    /* CSS for description */
    .card p {
      color: #666;
      font-size: 1rem;
    }

    /* CSS for "Read More" button */
    .card .btn-read-more {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    /* CSS for button hover effect */
    .card .btn-read-more:hover {
      background-color: #0056b3;
    }
  </style>

  <body>
    <script src="https://cdn.tailwindcss.com"></script>

  </body>
</html>
